body {
    background-color: navy;
    color: white;
    margin: 0;
    padding: 0;
}

nav {
    background-color: grey;
    padding: 10px;
    margin: 0 50px 0 0;
    position: relative;
    z-index: 2;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav ul li:hover{
    text-decoration: underline;
    text-decoration-color: white;
}

.search {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    align-items: center;
}

.search input {
    padding: 5px;
    width: 150px;
    border-radius: 5px 0 0 5px;
    border: none;
}

.search button {
    padding: 5px 10px;
    background-color: #ffffff;
    border: none;
    border-radius: 0 5px 5px 0;
    color: black;
    cursor: pointer;
}
.sidebar {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 200px;
    padding: 10px;
    z-index: 3;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    color: black;
    text-decoration: none;
    font-size: 32px;
    background-color: #ffffff;
}

.sidebar a:hover {
    text-decoration: underline;
}

.content {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.content img {
    width: 55%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.text{
    position: absolute;
    top: 20%;
    right: 105px;
}

.text p{
    font-size: 38px;
    font-family: Cochin, Georgia, Times, 'Times New Roman';
}

.offer{
    position: absolute;
    top: 50%;
    right: 120px;
}

.offer a{
    border-color: black;
    width: 100px;
    color: #ffffff;
    background-color: blueviolet;
    text-decoration: none;
}

.offer a:hover{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: white;
}
.next{
    position: absolute;
    top: 90%;
    right: 17px;
}
.next p{
font-size: 25px;
}

@media only screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .content {
        padding-top: 20px;
    }

    .text {
        position: static;
        text-align: center;
    }

    .offer {
        position: static;
        text-align: center;
    }

    .next {
        position: static;
        text-align: center;
    }
}
